//Import_________________________________________
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
//_______________________________________________

//Standard_______________________________________
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
//_______________________________________________

//Main___________________________________________
.wrap {
    width: 800px;
    max-width: 90%;
    margin: 30px auto;
    .box {
        width: 500px;
        max-width: 70%;
        margin: 15px auto;
        border: 1px solid black;
        text-align: center;
        -webkit-box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
        .title {
            display: inline-flex;
            margin: auto;
            .titleImage {
                background-image: url('/images/fp_green.png');
                background-size: 100% 100%; 
                width: 100px;
                height: 100px;
            }
            h1 {
                width: 70%;
                text-shadow: -1px 1px 0px rgba(150, 150, 150, 1);
            }
        }
        ul {
            text-align: left;
        }
    }
}
//_______________________________________________