@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.wrap {
  align-items: center;
  width: 90%;
  max-width: 520px;
  margin: 30px auto;
  padding: 10px;  border: 1px solid black;
  -webkit-box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

.box {
  border: 1px solid black;
  margin: 15px 0;
  text-align: center;
  -webkit-box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

.box:first-child {
  margin-top: 0;
}

.box:last-child {
  margin-bottom: 0;
}

.title {
  display: inline-flex;
  margin: auto;
}

.titleImage {
  background-image: url("/images/fp_green.png");
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
}

.title h1 {
  width: 70%;
  text-shadow: -1px 1px 0px #969696;
}

.box ul {
  text-align: left;
}

.boxHeader {
  text-align: left;
  margin: 16px 0 0 5%;
  font-size: 1.5em;
}

ul li {
  list-style: none;
}

ul {
  padding-left: 5%;
}

#projects p {
  margin: 0;
}

.project {
  margin-top: 10px;
}

ul li ul li:first-child .project {
  margin-top: 0;
}

.category {
  margin-top: 5px;
}

#footer p {
  margin: 10px 0 0 0;
}

#email {
  background-image: url("/images/mail.png");
  width: 208px;
  height: 30px;
  margin: auto;
}