/*____________________STANDARD SETTINGS____________________*/
body {
    margin: 0;
    text-align: center;
}

h1, 
h2, 
h3,
h4,
p, 
.button {
    margin: 0;
    font-family: 'Major Mono Display', monospace;
    user-select: none;
}

h1 {
    font-size: 1.15em;
}

h2 {
    font-size: 1.05em;
}

h3 {
    font-size: 0.95em;
}

h4 {
    font-size: 0.85em;
}

img:hover {
    cursor: pointer;
}

p,
.button {
    font-size: 0.85em;
}
/*____________________/STANDARD SETTINGS____________________*/


/*____________________/CLASS SETTINGS____________________*/
.wrapwrap {
    width: 55vw;
    padding: 2.5vh;
    margin: auto;
    display: inline-flex;
}

.wrapper {
    text-align: left;
    width: 20vw;
    min-width: 300px;
    border-radius: 5px;
    padding: 5px;
    border: 3px solid rgb(110, 110, 110);
    box-shadow: -10px 10px 20px -5px rgba(0,0,0,0.75);
    background-color: rgb(170, 170, 170);
}

.box {
    border: 2px solid rgb(140, 140, 140);
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px;
    box-shadow: -2px 2px 4px -1px rgba(0,0,0,0.75);
    background-color: rgb(200, 200, 200);
}

.innerbox {
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px;
    box-shadow: -2px 2px 4px -1px rgba(0,0,0,0.75);
    background-color: rgb(230, 230, 230);
}

.button {
    margin: 10px 0 0 0;
    display: inline-block;
    padding: 3px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    background: rgb(250, 250, 250);
}

.button:hover {
    background: rgb(210, 210, 210);
    cursor: pointer;
}

.button:active {
    background: rgb(170, 170, 170);
}

.upgradetable {
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px;
    box-shadow: -2px 2px 4px -1px rgba(0,0,0,0.75);
    background-color: rgb(230, 230, 230);
}
/*____________________/CLASS SETTINGS____________________*/


/*____________________EXCEPTIONS____________________*/
.wrapper:first-child {
    margin: 0 0.5vw 0 4.5vw;
}

.wrapper:nth-child(2) {
    margin: 0 4.5vw 0 0.5vw;
}

.box:nth-child(3) > .outerbox >.innerbox > p:nth-child(2),
.box:nth-child(4) > .innerbox > p:nth-child(3) {
    margin: 10px 0 5px 0;
}

.box:nth-child(3) > .outerbox >.innerbox > .button,
.box:nth-child(4) > .innerbox > .button {
    margin: 0 0 5px 0;
}

.box:nth-child(3) > h3 {
    margin-bottom: 5px;
}

.box:last-child,
.innerbox:last-child {
    margin-bottom: 0;
}

.box:first-child {
    margin-top: 0;
}
/*____________________/EXCEPTIONS____________________*/