<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="msapplication-TileColor" content="#ff009d">
    <meta name="application-name" content="frankpettersson.se">
    <meta name="apple-mobile-web-app-title" content="frankpettersson.se">
    <meta name="frankpettersson.se" content="#FFFFFF">
    <meta name="Description" content="JavaScript/HTML canvas art and games">
    <meta name="theme-color" content="#FFFFFF">
    <meta property="og:title" content="frankpettersson.se">
    <meta property="og:type" content="Portfolio">
    <meta property="og:url" content="https://frankpettersson.se/">
    <meta property="og:image" content="https://frankpettersson.se/assets/images/icons/favicon-114x114.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#ff009d">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="assets/style/fonts.css">
    <link rel="stylesheet" href="assets/style/main.css">
    <script src="assets/js/events.js" defer></script>
    <noscript>Your browser either does not support JavaScript or it is disabled, consider using a more modern browser or enable JavaScript to enjoy my website! :D</noscript>
    <title>frankpettersson.se</title>
  </head>
  <body width="100%" height="100%">
    <div id="wrap" width="100%" height="100%">
      <header>
        <div class="box nav">
          <div id="nav-left">
            <div id="logo"><a href="https://frankpettersson.se"><img src="assets/images/icons/favicon-114x114.png" alt="logo"></a></div>
          </div>
          <div id="nav-right"><span class="link"><a data-show="0">PROJECTS</a></span><span class="link"><a data-show="1">DESCRIPTIONS</a></span><span class="link"><a data-show="2">SETTINGS</a></span>
            <div class="nav-mobile">
              <input class="menu-btn" id="menu-btn" type="checkbox">
              <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
              <div class="mobile-links">
                <div class="mobile-link"><a data-show="0">PROJECTS</a></div>
                <div class="mobile-link"><a data-show="1">DESCRIPTIONS</a></div>
                <div class="mobile-link"><a data-show="2">SETTINGS</a></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="box" id="project-iframe">
          <h1 id="project-title">FLOWING SQUARES</h1>
          <iframe id="frontframe" sandbox="allow-same-origin allow-scripts" src="projects/graphics/js_canvas/flowing_squares/" title="projectiframe" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="box" id="projects">
          <div class="category">
            <div class="grid">
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/js_canvas/spinning_boxes/index.html" src="assets/images/thumbnails/spinning boxes.png" alt="spinning boxes">
                </div>
                <p>spinning boxes</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/js_canvas/triangle_stop-motion/index.html" src="assets/images/thumbnails/rocking triangles.png" alt="rocking triangles">
                </div>
                <p>rocking triangles</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/js_canvas/paths_of_triangles/index.html" src="assets/images/thumbnails/triangle paths.png" alt="triangle paths">
                </div>
                <p>triangle paths</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/js_canvas/linear_expansion/index.html" src="assets/images/thumbnails/linear expansion.png" alt="linear expansion">
                </div>
                <p>linear expansion</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/js_canvas/better_ant/index.html" src="assets/images/thumbnails/better ant.png" alt="better ant">
                </div>
                <p>better ant</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/js_canvas/flowing_squares/index.html" src="assets/images/thumbnails/flowing squares.png" alt="flowing squares">
                </div>
                <p>flowing squares</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/three.js/hollow_boxes/index.html" src="assets/images/thumbnails/hollow boxes.png" alt="hollow boxes">
                </div>
                <p>hollow boxes</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/js_canvas/look_in_the_middle/index.html" src="assets/images/thumbnails/point illusion.png" alt="point illusion">
                </div>
                <p>point illusion</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/js_canvas/black_donut/index.html" src="assets/images/thumbnails/black donut.png" alt="black donut">
                </div>
                <p>black donut</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/js_canvas/faded_bubbles_dark/index.html" src="assets/images/thumbnails/bubble bg dark.png" alt="bubble bg dark">
                </div>
                <p>bubble bg dark</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/js_canvas/faded_bubbles/index.html" src="assets/images/thumbnails/bubble bg.png" alt="bubble bg">
                </div>
                <p>bubble bg</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/js_canvas/black_hole/index.html" src="assets/images/thumbnails/black hole.png" alt="black hole">
                </div>
                <p>black hole</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/js_canvas/colours/index.html" src="assets/images/thumbnails/colours.png" alt="colours">
                </div>
                <p>colours</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/three.js/3Dspheres_BG/index.html" src="assets/images/thumbnails/3d shapes bg.png" alt="3d shapes bg">
                </div>
                <p>3d shapes bg</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/three.js/3Dspheres/index.html" src="assets/images/thumbnails/3d shapes.png" alt="3d shapes">
                </div>
                <p>3d shapes</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/paper.js/langtonsAnt/index.html" src="assets/images/thumbnails/langtons ant.png" alt="langtons ant">
                </div>
                <p>langtons ant</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/paper.js/langtonsAttempt/index.html" src="assets/images/thumbnails/langtons failure.png" alt="langtons failure">
                </div>
                <p>langtons failure</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/paper.js/pixelGrid_clear/index.html" src="assets/images/thumbnails/clear pixels.png" alt="clear pixels">
                </div>
                <p>clear pixels</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/paper.js/pixelGrid_blurry/index.html" src="assets/images/thumbnails/blurry pixels.png" alt="blurry pixels">
                </div>
                <p>blurry pixels</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/paper.js/bubbles/index.html" src="assets/images/thumbnails/bubbles.png" alt="bubbles">
                </div>
                <p>bubbles</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/pixi_js/randomPolygonPositions/index.html" src="assets/images/thumbnails/shaky triangles.png" alt="shaky triangles">
                </div>
                <p>shaky triangles</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/pixi_js/rotatingPolygons/index.html" src="assets/images/thumbnails/polygon.png" alt="polygon">
                </div>
                <p>polygon</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/graphics/pixi_js/rotatingRectangle/index.html" src="assets/images/thumbnails/rectangle.png" alt="rectangle">
                </div>
                <p>rectangle</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/games/idle/idle/index.html" src="assets/images/thumbnails/idle.png" alt="idle">
                </div>
                <p>idle</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/games/idle/idle_jquery/index.html" src="assets/images/thumbnails/idle jquery.png" alt="idle jquery">
                </div>
                <p>idle jquery</p>
              </div>
              <div class="project">
                <div class="thumbnail"><img data-src="projects/games/units/index.html" src="assets/images/thumbnails/units.png" alt="units">
                </div>
                <p>units</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box" id="descriptions">
          <div class="category" id="games">
            <div class="category-head"><img class="arrow" src="assets/images/util/triangle.svg" alt="hide/show">
              <div class="categoryName">GAMES</div>
            </div>
            <div class="project-list">
              <div class="project"><a class="thumbnail" href="projects/games/idle/idle/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/idle.png" alt="idle"></a>
                <p><b>idle</b><i> - 2019-02-25</i><br>My first "real" game. You click on a button to get gold and then with that gold purchase units to collect even more gold for you.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/games/idle/idle_jquery/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/idle jquery.png" alt="idle jquery"></a>
                <p><b>idle jquery</b><i> - 2019-02-21</i><br>Same as the last one, just written with a code library 👍.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/games/units/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/units.png" alt="units"></a>
                <p><b>units</b><i> - 2019-04-02</i><br>Another attempt at a game. I wanted to try making a game where the units create eachother, so I made this where that is so and you can name/create your own units too.
                </p>
              </div>
            </div>
          </div>
          <div class="category" id="graphics">
            <div class="category-head"><img class="arrow" src="assets/images/util/triangle.svg" alt="hide/show">
              <div class="categoryName">GRAPHICS</div>
            </div>
            <div class="project-list">
              <div class="project"><a class="thumbnail" href="projects/graphics/js_canvas/spinning_boxes/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/spinning boxes.png" alt="spinning boxes"></a>
                <p><b>spinning boxes</b><i> - 2019-04-29</i><br>
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/js_canvas/triangle_stop-motion/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/rocking triangles.png" alt="rocking triangles"></a>
                <p><b>rocking triangles</b><i> - 2019-04-28</i><br>
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/js_canvas/paths_of_triangles/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/triangle paths.png" alt="triangle paths"></a>
                <p><b>triangle paths</b><i> - 2019-04-28</i><br>
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/js_canvas/linear_expansion/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/linear expansion.png" alt="linear expansion"></a>
                <p><b>linear expansion</b><i> - 2019-04-19</i><br>Now this is epic.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/js_canvas/better_ant/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/better ant.png" alt="better ant"></a>
                <p><b>better ant</b><i> - 2019-04-11</i><br>Browsing the web i found <a href="http://rossscrivener.co.uk/projects/langtons-ants/" target="_blank" rel="noopener noreferrer">this demonstration of Langtons Ant</a> and noticed the much better performance, so being inspired to improve my attempt I did so. And also changed the color.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/js_canvas/flowing_squares/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/flowing squares.png" alt="flowing squares"></a>
                <p><b>flowing squares</b><i> - 2019-04-12</i><br>This one uses various techniques that i've learned such as border detection, Class creation, moving a defined shape etc. creating this rug of squares, bouncing from wall to wall. Like those DVD screensavers.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/three.js/hollow_boxes/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/hollow boxes.png" alt="hollow boxes"></a>
                <p><b>hollow boxes</b><i> - 2019-04-09</i><br>For this one I went back to the 3D shape/webGL library <a href="https://threejs.org/" target="_blank" rel="noopener noreferrer">three.js</a> and played around with stacking boxes further away but with decreasing size, using a depth material for the mesh, and blabla. Looks nice.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/js_canvas/look_in_the_middle/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/point illusion.png" alt="point illusion"></a>
                <p><b>point illusion</b><i> - 2019-03-21</i><br>Same as last, difference being is the circle motioned drawing speed. Making for a very slowly adding of blackness with expanding patterns that you barely notice at first.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/js_canvas/black_donut/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/black donut.png" alt="black donut"></a>
                <p><b>black donut</b><i> - 2019-03-23</i><br>Really like this one, not much to say but, it's cool 😎.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/js_canvas/faded_bubbles_dark/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/bubble bg dark.png" alt="bubble bg dark"></a>
                <p><b>bubble bg dark</b><i> - 2019-03-22</i><br>
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/js_canvas/faded_bubbles/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/bubble bg.png" alt="bubble bg"></a>
                <p><b>bubble bg</b><i> - 2019-03-21</i><br>Successful recreated version with depth effect and even a splash of color.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/js_canvas/black_hole/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/black hole.png" alt="black hole"></a>
                <p><b>black hole</b><i> - 2019-03-20</i><br>This one is one of my favourites, just because it feels very clean and reminds me of being little and seeing similar shapes and animations which would get me stuck staring at them for just a bit too long.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/js_canvas/colours/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/colours.png" alt="colours"></a>
                <p><b>colours</b><i> - 2019-03-20</i><br>Having a bit more experience I decided to move away from using libraries to learn more about the basics of JavaScript. Which turned out to be a good idea making me discover a technique for creating cool patterns. Such as this one.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/three.js/3Dspheres_BG/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/3d shapes bg.png" alt="3d shapes bg"></a>
                <p><b>3d shapes bg</b><i> - 2019-03-07</i><br>Edited the last one a bit so that it could be used as a background, the moving is actually the camera rotating along its axes.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/three.js/3Dspheres/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/3d shapes.png" alt="3d shapes"></a>
                <p><b>3d shapes</b><i> - 2019-03-06</i><br>Found a library: <a href="https://threejs.org/" target="_blank" rel="noopener noreferrer">three.js</a> making it easy to create 3D shapes and animations. So, i defined a cube, plopped a couple of rotating shapes with random colors and added camera controls.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/paper.js/langtonsAnt/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/langtons ant.png" alt="langtons ant"></a>
                <p><b>langtons ant</b><i> - 2019-03-06</i><br>Working version of <a href="https://en.wikipedia.org/wiki/Langton%27s_ant" target="_blank" rel="noopener noreferrer">Langtons Ant</a> 👌.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/paper.js/langtonsAttempt/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/langtons failure.png" alt="langtons failure"></a>
                <p><b>langtons failure</b><i> - 2019-03-02</i><br>I've known about <a href='https://en.wikipedia.org/wiki/Langton%27s_ant' target='_blank' rel='noopener noreferrer'>Langtons Ant</a> for awhile and wanted to tackle it since i'd learnt a bit about canvas coding, did not work as expected. Looks pretty.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/paper.js/pixelGrid_clear/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/clear pixels.png" alt="clear pixels"></a>
                <p><b>clear pixels</b><i> - 2019-03-01</i><br>"Fixed" the last one and got the right resolution for the squares making it much clearer.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/paper.js/pixelGrid_blurry/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/blurry pixels.png" alt="blurry pixels"></a>
                <p><b>blurry pixels</b><i> - 2019-03-01</i><br>Trying another library: <a href="http://paperjs.org/" target="_blank" rel="noopener noreferrer">paper.js</a> which I use for the next 3 projects. Played around with squares, pixel-grids and colours, the blurry effect is actually me not scaling the squares the right amount, albeit buggy, cool effect.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/paper.js/bubbles/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/bubbles.png" alt="bubbles"></a>
                <p><b>bubbles</b><i> - 2019-03-01</i><br>Did not actually make this one myself although i thought it looked cool, and so later I made one myself without the help of PixiJS.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/pixi_js/randomPolygonPositions/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/shaky triangles.png" alt="shaky triangles"></a>
                <p><b>shaky triangles</b><i> - 2019-02-28</i><br>Went a bit further with the polygon creation. In this one the points defining the shape are moving around randomly(a bit jittery, but funny).
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/pixi_js/rotatingPolygons/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/polygon.png" alt="polygon"></a>
                <p><b>polygon</b><i> - 2019-02-28</i><br>Created a polygon, bit harded since you have to defined the points of the shape, also made it spin 😌.
                </p>
              </div>
              <div class="project"><a class="thumbnail" href="projects/graphics/pixi_js/rotatingRectangle/index.html" target="_blank" rel="noopener noreferrer"><img src="assets/images/thumbnails/rectangle.png" alt="rectangle"></a>
                <p><b>rectangle</b><i> - 2019-02-26</i><br>First canvas drawing in JavaScript i managed to create, using a library: <a href="http://www.pixijs.com/" target="_blank" rel="noopener noreferrer">PixiJS</a>, that I used for the next 3 aswell.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="box" id="settings">
          <div class="box-header">
            <h2>SETTINGS</h2>
          </div>
          <div class="settings-list">
            <div class="setting">
              <div class="setting-title">
                <h3>UI COLOR</h3>
              </div>
              <div class="settings-box">
                <input id="select-ui-color" type="color">
                <p id="current-ui-color"></p>
              </div>
            </div>
            <div class="setting">
              <div class="setting-title">
                <h3>LANDING PAGE</h3>
              </div>
              <div class="settings-box">
                <select id="select-landing-page" name="select-landing-page">
                  <option value="PROJECTS">PROJECTS</option>
                  <option value="DESCRIPTIONS">DESCRIPTIONS</option>
                  <option value="SETTINGS">SETTINGS</option>
                </select>
                <p id="current-landing-page"></p>
              </div>
            </div>
            <div class="setting">
              <div class="setting-title">
                <h3>DEFAULT PREVIEW</h3>
              </div>
              <div class="settings-box">
                <div class="settings-inner-top"><img id="current-default-project-image" src="" alt=""></div>
                <div class="settings-inner-bot">
                  <select id="select-default-project" name="select-default-project">
                    <option value="projects/graphics/js_canvas/spinning_boxes/index.html" label="SPINNING BOXES"></option>
                    <option value="projects/graphics/js_canvas/triangle_stop-motion/index.html" label="ROCKING TRIANGLES"></option>
                    <option value="projects/graphics/js_canvas/paths_of_triangles/index.html" label="TRIANGLE PATHS"></option>
                    <option value="projects/graphics/js_canvas/linear_expansion/index.html" label="LINEAR EXPANSION"></option>
                    <option value="projects/graphics/js_canvas/better_ant/index.html" label="BETTER ANT"></option>
                    <option value="projects/graphics/js_canvas/flowing_squares/index.html" label="FLOWING SQUARES"></option>
                    <option value="projects/graphics/three.js/hollow_boxes/index.html" label="HOLLOW BOXES"></option>
                    <option value="projects/graphics/js_canvas/look_in_the_middle/index.html" label="POINT ILLUSION"></option>
                    <option value="projects/graphics/js_canvas/black_donut/index.html" label="BLACK DONUT"></option>
                    <option value="projects/graphics/js_canvas/faded_bubbles_dark/index.html" label="BUBBLE BG DARK"></option>
                    <option value="projects/graphics/js_canvas/faded_bubbles/index.html" label="BUBBLE BG"></option>
                    <option value="projects/graphics/js_canvas/black_hole/index.html" label="BLACK HOLE"></option>
                    <option value="projects/graphics/js_canvas/colours/index.html" label="COLOURS"></option>
                    <option value="projects/graphics/three.js/3Dspheres_BG/index.html" label="3D SHAPES BG"></option>
                    <option value="projects/graphics/three.js/3Dspheres/index.html" label="3D SHAPES"></option>
                    <option value="projects/graphics/paper.js/langtonsAnt/index.html" label="LANGTONS ANT"></option>
                    <option value="projects/graphics/paper.js/langtonsAttempt/index.html" label="LANGTONS FAILURE"></option>
                    <option value="projects/graphics/paper.js/pixelGrid_clear/index.html" label="CLEAR PIXELS"></option>
                    <option value="projects/graphics/paper.js/pixelGrid_blurry/index.html" label="BLURRY PIXELS"></option>
                    <option value="projects/graphics/paper.js/bubbles/index.html" label="BUBBLES"></option>
                    <option value="projects/graphics/pixi_js/randomPolygonPositions/index.html" label="SHAKY TRIANGLES"></option>
                    <option value="projects/graphics/pixi_js/rotatingPolygons/index.html" label="POLYGON"></option>
                    <option value="projects/graphics/pixi_js/rotatingRectangle/index.html" label="RECTANGLE"></option>
                    <option value="projects/games/idle/idle/index.html" label="IDLE"></option>
                    <option value="projects/games/idle/idle_jquery/index.html" label="IDLE JQUERY"></option>
                    <option value="projects/games/units/index.html" label="UNITS"></option>
                  </select>
                  <p id="current-default-project"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="buttons">
            <div class="button" id="save">
              <p>SAVE</p>
            </div>
            <div class="button" id="reset">
              <p>RESET</p>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="box footer">
          <div id="footer-left">
            <div id="footer-logo"><a href="https://frankpettersson.se"><img src="assets/images/icons/favicon-114x114.png" alt="footer-logo"></a></div>
          </div>
          <div id="footer-right"><span class="footer-link"><a href="https://github.com/frankpettersson/frankpettersson.se" target="_blank" rel="noopener noreferrer"><img src="assets/images/icons/GitHub-Mark-64px.png" alt="github"></a></span><span class="footer-link"><a href="mailto:frank.pettersson1@gmail.com" target="_top">
                <p>MAIL</p></a></span></div>
        </div>
      </footer>
    </div>
  </body>
</html>