html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

#container {
    border: 1px solid black;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

canvas[resize] {
    width: 100%;
    height: 100%;
}