@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

#wrapwrap {
  position: absolute;
  width: 100%;
}

#wrap {
  background: #fff none repeat scroll 0 0;
  width: 90%;
  margin: 1% auto;
  max-width: 520px;
  padding: 10px;  border: 1px solid black;
  -webkit-box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  z-index: 1;
}

.box {
  border: 1px solid black;
  margin: 15px 0;
  text-align: center;
  -webkit-box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

.box:first-child {
  margin-top: 0;
}

.box:last-child {
  margin-bottom: 0;
}

.title {
  display: inline-flex;
  margin: auto;
}

.titleImage {
  background-image: url("../images/fp_green.png");
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
}

.title h1 {
  width: 70%;
  text-shadow: -1px 1px 0px #969696;
}

#description p {
  text-align: left;
  margin: 10px 5% 16px 5%;
}

.box ul {
  text-align: left;
}

.boxHeader {
  text-align: left;
  margin: 16px 5% 0 5%;
  font-size: 1.5em;
}

ul li {
  list-style: none;
}

ul {
  padding-left: 25px;
}

#projects p {
  margin: 0;
}

.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 25px;
  margin-top: 10px;
}

.category {
  margin-top: 5px;
}

#footer p:first-child {
  margin: 10px 0 0 0;
}
#footer p:last-child {
  margin: 0 0 10px 0;
}

#email {
  background-image: url("../images/mail.png");
  width: 208px;
  height: 30px;
  margin: auto;
}

iframe { 
  border: none;
  position: absolute;
  z-index: 0;
}

.project a {
  width: 142px;
  height: 142px;
  text-align: center;
}

.thumbnail {
  text-align: center;
  border: 1px solid black;
  height: 100px;
  width: 100px;
  margin: auto;
}

.thumbnail img {
  height: 100px;
}

#projects ul li ul li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .project {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 380px) {
  .project {
    grid-template-columns: repeat(1, 1fr);
  }
  #wrapwrap {
    width: 99%;
    margin: auto;
  }
  #wrap {
    width: 100%;
  }
}