@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

#bg {
  display: none;
  height: 100%;
}

#wrapwrap {
  position: absolute;
  width: 100%;
}

#wrap {
  background: rgba(200, 200, 200, 0.5);
  width: 90%;
  margin: 0 auto 50px auto;
  max-width: 700px;
  padding: 10px;  border: 1px solid black;
  z-index: 1;
}

.box {
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.8);
  margin: 15px 0;
  text-align: center;
}

.box:first-child {
  margin-top: 0;
}

.box:last-child {
  margin-bottom: 0;
}

.title {
  display: inline-flex;
  margin: auto;
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:300px;
}

#titleImage {
  background: rgba(235, 235, 235, 0.6);
  background-image: url("../images/icon/fp_green_512x512.png");
  background-size: 100% 100%;
  width: 200px;
  height: 200px;
  border: 2px dashed black;
  border-radius: 50%;
}

#description p {
  text-align: left;
  margin: 10px 5% 16px 5%;
}

.box ul {
  text-align: left;
}

.boxHeader {
  text-align: left;
  margin: 16px 5% 0 5%;
  font-size: 1.5em;
}

.box.half {
  width: calc(100% - 20px);
  display: inline-flex;
  margin: 0;
  padding: 10px;
}

#dark {
  width: calc(50% - 5px);
}

#content {
  width: calc(50% - 5px);
  border-right: 1px solid black;
}

#game, #graphic {
  display: block;
}

.etc {
  display: block;
  width: 50%;
}

ul li {
  list-style: none;
}

ul {
  padding-left: 25px;
}

#projects p {
  margin: 0;
}

.arrows {
  cursor: pointer;
  width: 12px; 
  height: 12px;
}

.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 25px;
  margin-top: 10px;
}

.category {
  margin-top: 5px;
}

#footer {
  padding: 10px;
  text-align: left;
}

#footer-text {
  display: block;
  width: 100%;
}

#footer p {
  height: 50%;
  margin: 0;
}

#footer img {
  width: 50px;
  height: 50px;
  padding-right: 5px;
  margin-right: 10px;
  border-right: 1px solid black;
}

#email {
  width: 208px;
  height: 30px;
  margin: auto;
}

iframe { 
  border: none;
  position: absolute;
  z-index: 0;
}

.project a {
  width: 142px;
  height: 142px;
  text-align: center;
}

.thumbnail {
  text-align: center;
  background: white;
  border: 1px solid black;
  height: 100px;
  width: 100px;
  margin: auto;
}

#projects ul li ul li {
  margin-bottom: 10px;
}

.switch {
  text-align: left;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(195, 195, 195);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .project {
    grid-template-columns: repeat(2, 1fr);
  }
  .title {
    height:200px;
    margin: 5% auto;
  }
  #content, #backgroundSwap {
    display: none; 
  }
  #bg {
    display: block;
    width: 100%;
    position: absolute;
  }
  #wrap {
    margin: 0 auto 2.5% auto;
  }
}

@media only screen and (max-width: 380px) {
  .project {
    grid-template-columns: repeat(1, 1fr);
  }
  #wrapwrap {
    width: 99%;
    margin: auto;
  }
  #wrap {
    width: 100%;
  }
}