* {
    margin: 0;
    padding: 0;
}

body {
    background: #325345;
}

#display {
    background: #FFFFFF;
    border: 4px solid black;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}