input,
textarea,
button,
select,
img,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
input:focus,
textarea:focus,
button:focus,
select:focus,
img:focus,
a:focus {
  outline: none;
}

body {
  margin: 0px;
  position: absolute;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}
body #wrap {
  min-width: 600px;
  width: 50%;
  max-width: 980px;
  margin: 0 auto;
}
body #wrap header .box.nav {
  margin: 0 auto 25px auto;
  height: 70px;
  border: none;
  border-bottom: 5px double #787878;
  padding: 10px;
  display: flex;
  user-select: none;
}
body #wrap header .box.nav #navLeft {
  width: 40%;
  text-align: center;
}
body #wrap header .box.nav #navLeft #logo {
  height: 70px;
  width: 100%;
  background: #ff009d;
  transition: all 0.5s;
}
body #wrap header .box.nav #navLeft #logo:hover {
  background: black;
}
body #wrap header .box.nav #navLeft #logo img {
  height: 70px;
}
body #wrap header .box.nav #navRight {
  width: 60%;
}
body #wrap header .box.nav #navRight .link {
  display: inline-block;
  width: 50%;
  text-align: center;
  top: 50%;
  transform: translateY(100%);
}
body #wrap header .box.nav #navRight .link .link-color {
  color: #ff009d;
  transition: all 0.5s;
}
body #wrap header .box.nav #navRight .link a {
  font-size: 1.3em;
  font-weight: bold;
  color: #1e1e1e;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.3s;
}
body #wrap header .box.nav #navRight .link a:hover {
  color: #ff009d;
}
body #wrap main .box.box-iframe {
  height: 60vh;
  user-select: none;
  padding: 0;
}
body #wrap main .box.box-iframe #canvas-title {
  position: absolute;
  margin: 0 0 0 5px;
  text-decoration: underline;
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
body #wrap main .box.box-iframe iframe {
  display: block;
  width: 100%;
  height: 60vh;
}
body #wrap main .box.box-canvas {
  border: none;
}
body #wrap main .box.box-canvas h2 {
  margin: 10px 0;
  text-align: center;
  color: #1e1e1e;
}
body #wrap main .box {
  border: 5px double #787878;
}
body #wrap main .box:last-child {
  margin-bottom: 10px;
}
body #wrap main .box .boxHeader h3 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 2em;
  text-decoration: underline;
}
body #wrap main .box .category .category-head {
  border-bottom: 1px solid black;
  padding: 5px;
  margin-bottom: 5px;
}
body #wrap main .box .category .category-head .arrow {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  height: 17px;
  width: 17px;
  transition: all 0.5s;
}
body #wrap main .box .category .category-head .arrow.arrow-off {
  transform: rotate(-90deg);
}
body #wrap main .box .category .category-head .categoryName {
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  font-size: 1.2em;
}
body #wrap main .box .category .grid .project, body #wrap main .box .category .project-list .project {
  margin: 5px auto;
}
body #wrap main .box .category .grid .project .thumbnail, body #wrap main .box .category .project-list .project .thumbnail {
  position: relative;
  text-align: center;
  border: 5px double #787878;
  display: inline-block;
  transition: all 0.3s;
}
body #wrap main .box .category .grid .project .thumbnail img, body #wrap main .box .category .project-list .project .thumbnail img {
  display: block;
  cursor: pointer;
  background: white;
  height: 100px;
  padding: 10px;
}
body #wrap main .box .category .grid .project .thumbnail-hover-border, body #wrap main .box .category .project-list .project .thumbnail-hover-border {
  border: 5px double #ff009d;
}
body #wrap main .box .category .grid .project .thumbnail-hover-text, body #wrap main .box .category .project-list .project .thumbnail-hover-text {
  color: #ff009d;
}
body #wrap main .box .category .grid .project a, body #wrap main .box .category .project-list .project a {
  cursor: default;
}
body #wrap main .box .category .grid .project p, body #wrap main .box .category .project-list .project p {
  margin: 0;
  text-transform: uppercase;
  transition: all 0.3s;
}
body #wrap main .box .category .grid {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
}
body #wrap main .box .category .grid:before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1/1;
  grid-column: 1/1;
}
body #wrap main .box .category .grid *:first-child {
  grid-row: 1/1;
  grid-column: 1/1;
}
body #wrap main .box .category .grid .project p {
  color: #1e1e1e;
}
body #wrap main .box .category .project-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 170px;
}
body #wrap main .box .category .project-list:before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1/1;
  grid-column: 1/1;
}
body #wrap main .box .category .project-list *:first-child {
  grid-row: 1/1;
  grid-column: 1/1;
}
body #wrap main .box .category .project-list .project {
  width: 100%;
  display: inline-flex;
}
body #wrap main .box .category .project-list .project .thumbnail {
  height: 120px;
}
body #wrap main .box .category .project-list .project p {
  width: 100%;
  margin: 0 5px;
  font-size: 0.9em;
}
body #wrap main .box .category .project-list .project p b {
  text-decoration: underline;
}
body #wrap main .box .category .project-list .project p a {
  cursor: pointer;
}
body #wrap main .box .category .hide {
  display: none;
}
body #wrap main #canvi {
  padding: 10px;
}
body #wrap main #projects {
  display: none;
  padding: 20px 30px 0 30px;
}
body #wrap main #projects .category .project p {
  text-transform: none;
}
body #wrap main #projects .category .project p b {
  text-transform: uppercase;
}

@media only screen and (max-width: 1900px) {
  body #wrap main .box .category .project-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 1700px) {
  body #wrap main .box .category .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1500px) {
  body #wrap main .box .category .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  body #wrap {
    margin: 0 auto 2.5% auto;
    width: 95%;
    min-width: 0;
  }
  body #wrap main .box.box-iframe {
    margin: 10px;
    height: initial;
    width: initial;
  }
  body #wrap main .box.box-iframe iframe {
    width: 100%;
  }
  body #wrap main .box .category .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  body #wrap main .box .category .project-list {
    grid-auto-rows: 190px;
    margin: 0;
  }
  body #wrap main .box .category .project-list .project p {
    font-size: 0.85em;
  }
  body #wrap main .box .category .project-list .project p i {
    font-size: 0.95em;
  }
}
@media only screen and (max-width: 380px) {
  body {
    width: 100%;
    margin: auto;
  }
  body #wrap {
    width: 100%;
    margin: 0;
  }
  body #wrap main .box .category .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=main.css.map */
