body {
  margin: 0;
  position: absolute;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}
body main #wrap {
  min-width: 600px;
  width: 50%;
  max-width: 980px;
  margin: 0 auto 50px auto;
}
body main #wrap #projects {
  display: none;
}
body main #wrap .box.nav {
  margin: 0 auto 25px auto;
  height: 70px;
  border: none;
  border-bottom: 3px ridge #747474;
  padding: 10px;
  display: flex;
  user-select: none;
}
body main #wrap .box.nav #navLeft {
  width: 30%;
  text-align: center;
}
body main #wrap .box.nav #navLeft #logo {
  height: 70px;
  width: 100%;
}
body main #wrap .box.nav #navLeft #logo #logoImage {
  background-image: url("../images/icons/fp_green_512x512.png");
  background-size: 100% 100%;
  width: 70px;
  margin: auto;
  height: 100%;
}
body main #wrap .box.nav #navRight {
  width: 70%;
}
body main #wrap .box.nav #navRight .link {
  display: inline-block;
  width: 40%;
  text-align: center;
  top: 50%;
  transform: translateY(100%);
}
body main #wrap .box.nav #navRight .link a {
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  cursor: pointer;
  text-decoration: underline;
}
body main #wrap .box.nav #navRight .link a:hover {
  color: #1bc600;
}
body main #wrap .box.box-iframe {
  height: 60vh;
  user-select: none;
}
body main #wrap .box.box-iframe #canvas-title {
  position: absolute;
  margin: 0 0 0 5px;
  text-decoration: underline;
}
body main #wrap .box.box-iframe iframe {
  width: 100%;
  height: 60vh;
}
body main #wrap .box.box-canvas {
  border: none;
}
body main #wrap .box.box-canvas h2 {
  margin: 10px 0 0 0;
  text-align: center;
}
body main #wrap .box {
  border: 3px ridge #747474;
  margin: 10px 0;
}
body main #wrap .box .boxHeader {
  text-align: left;
  margin-left: 25px;
  margin-top: 15px;
  font-size: 1.5em;
}
body main #wrap .box .boxHeader h3 {
  margin: 0;
}
body main #wrap .box .category {
  padding: 0 20px;
}
body main #wrap .box .category:nth-child(2) {
  padding-top: 20px;
}
body main #wrap .box .category:last-child {
  padding-bottom: 20px;
}
body main #wrap .box .category .arrow {
  cursor: pointer;
  width: 15px;
  height: 15px;
}
body main #wrap .box .category .arrow.arrow-off {
  transform: rotate(-90deg);
}
body main #wrap .box .category .categoryName {
  display: inline;
  font-weight: bold;
}
body main #wrap .box .category .grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
}
body main #wrap .box .category .grid:before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1/1;
  grid-column: 1/1;
}
body main #wrap .box .category .grid *:first-child {
  grid-row: 1/1;
  grid-column: 1/1;
}
body main #wrap .box .category .grid .project {
  text-align: center;
  margin: 5px auto;
}
body main #wrap .box .category .grid .project .thumbnail {
  position: relative;
  text-align: center;
  border: 3px ridge #747474;
  display: inline-block;
}
body main #wrap .box .category .grid .project .thumbnail img {
  cursor: pointer;
  background: white;
  height: 100px;
  padding: 10px;
}
body main #wrap .box .category .grid .project .thumbnail-hover-border {
  border: 3px ridge #1bc600;
}
body main #wrap .box .category .grid .project .thumbnail-hover-text {
  color: #1bc600;
}
body main #wrap .box .category .grid .project a {
  cursor: default;
}
body main #wrap .box .category .grid .project p {
  margin: 0;
  text-transform: uppercase;
}
body main #wrap .box .category .hide {
  display: none;
}

@media only screen and (max-width: 1700px) {
  body main #wrap .box .category .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1500px) {
  body main #wrap .box .category .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  body header .title {
    height: 200px;
    margin: 5% auto;
  }
  body main #wrap {
    margin: 0 auto 2.5% auto;
    min-width: 0;
    width: 95%;
  }
  body main #wrap #canvas-title {
    margin-bottom: 0;
  }
  body main #wrap .box.box-iframe {
    margin: 10px;
    height: initial;
    width: initial;
  }
  body main #wrap .box.box-iframe iframe {
    width: 100%;
  }
  body main #wrap .box .category .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 380px) {
  body {
    width: 100%;
    margin: auto;
  }
  body main #wrap {
    width: 100%;
    margin: 0;
  }
  body main #wrap .box .category .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=main.css.map */
